*{
  margin:0;
  padding:0;
}
body { min-height: 100vh; background-color: #F4F3FA!important;}

.logo{
  
  width:100px;
  object-position: center;
}
.bot{
  height: 50px;
  object-position: center;
  align-self: center;

}
#root {
  min-height:  100vh;
}
.backGround-shape{
  
background-repeat: no-repeat;
background-position: center;
background-size: contain;
  

background-color:#D3F6DE;
}